 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            font-family: 'Montserrat';
        }

        .match-row {
            width: 100%;
            display: flex;
            flex-direction: column;
            border: 0px solid #ddd;
            padding: 2px;
            margin: 4px 0;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 6px, rgba(0, 0, 0, 0.3) 0px 7px 13px -8px, rgba(0, 0, 0, 0.3) 0px -4px 0px inset;
        }

        .match-row:active,
        .match-row:focus,
        .match-row:hover {
            color: black;
            font-weight: bold;
            outline: none;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 6px, rgba(0, 0, 0, 0.3) 0px 7px 13px -8px, rgba(0, 0, 0, 1.0) 0px -4px 0px inset;
        }

        .match-main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: red;
            width: 100%;
            padding: 4px;
            border-radius: 10px 10px 0px 0px;
        }

        .match-left {
            display: flex;
            align-items: center;
            width: 65%;
        }

        .match-logo {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .match-details {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #fff;
            text-align: left;
            border: 0px solid #ddd;
        }

        .match-time {
            margin-left: 10px;
            width: 35%;
            text-align: right;
            color: #fff;
        }

        .match-extra {
            display: flex;
            align-items: center;
            margin-top: 5px;
            width: 100%;
            border: 0px solid #ddd;
            height: 50px;
        }

        .home-team-info, .away-team-info {
            display: flex;
            align-items: center;
            width: 40%;
            border: 0px solid #ddd;
        }

        .home-team-info {
            justify-content: flex-end;
        }

        .home-team-logo, .away-team-logo {
            width: 35px;
            height: 35px;
            margin-right: 5px;
        }

        .home-team-name {
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
            margin-right: 5px;
        }

        .away-team-name {
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
        }

        .match-score {
            border: 0px dodgerblue solid;
            font-size: 14px;
            width: 10%;
            font-weight: 700;
            text-align: center;
        }

        .match-time-info {
            font-size: 12px;
            color: gray;
            width: 10%;
            padding: 2px;
            text-align: left;
            margin-right: 10px;
            border: 0px dodgerblue solid;
        }
 
